@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #e5e5e5;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0000);
  overflow: hidden;
}

.page-container {
  background: #ffffff;
  width: 1200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  padding: 14px 70px 0 256px;
  z-index: 10;
}

.logo {
  position: absolute;
  left: 70px;
  top: 0;
  display: block;
}

.navigation {
  display: flex;
}

.navigation-list {
  width: 500px;
  margin: 7px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  margin-right: 35px;
  padding-bottom: 18px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.navigation-user {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navigation-user-item {
  margin-left: 18px;
}

.search-link {
  position: relative;
  display: block;
  padding: 5px;
  background: url("../images/header/search.svg") no-repeat center center;
  width: 19px;
  height: 19px;
  margin-top: 3px;
}

.favorite-link {
  position: relative;
  display: block;
  padding: 5px;
  background: url("../images/header/favourite.svg") no-repeat 0 9px;
  width: 24px;
  height: 21px;
  text-decoration: none;
}

.favourites {
  min-width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 13px;
  display: block;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
}

.wish-link {
  display: block;
  background-color: #756157;
  padding: 10px 34px 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.welcome {
  background: #264a73 url("../images/main/index-background.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 51px 0 82px;
  position: relative;
}

.welcome::before {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background: url("../images/main/triangle.svg") no-repeat top left;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.advantages {
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-search-title {
  display: block;
  width: 297px;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 30px;
  line-height: 36px;
  padding: 61px;
  margin-top: 71px;
  margin-left: 456px;
  margin-bottom: 322px;
}

.hotel-search-link {
  padding: 12px 15px;
  height: 60px;
  width: 574px;
  margin-top: 264px;
  margin-bottom: 93px;
  margin-left: 313px;
  display: block;
  text-transform: uppercase;
}

.hotel-search-description {
  height: 52px;
  width: 592px;
  margin-left: 304px;
  margin-right: 304px;
  margin-bottom: 209px;


}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  width: 404px;
  height: 36px;
padding: 94px 398px;
  /* padding: 0 398px; */
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  display: flex;
  width: 475px;
  height: 52px;
  margin-top: 29px;
  margin-left: 363px;
  /* padding: 0 363px; */
}

.action.action-e-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  display: flex;
  /* padding: 0 240px; */
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  text-align: center;
  display: flex;
  /* padding: 0 855px; */
}

.page-footer {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social{
  display: flex;
  padding: 35px;
  margin-right: auto;
  width: 142px;
  height: 40px;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 70px;
  text-align: center;
  padding-top: 45px;
  margin-top: 45px;
  margin-bottom: 35px;

}

.page-footer .contacts-phone {
  color: #000000;
  padding: 0 448,5px;
  display: flex;
  margin-left: 41px;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}

.page-footer.html-academy-link {
  color: #000000;
  display: flex;
}

.main-inner {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  width: 139px;
  margin-left: 107px;
}

.main-inner.inner-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: inherit;
  text-transform: uppercase;
}

.catalog-filter-title {

}

.catalog.options {
}

.hotels-options.search-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: inherit;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hotels-card.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-card.hotel-item {
  color: #333333;
}

.hotels-card.hotel-card-button button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
}

.hotels-card .symbols {
  color: #83B3D3;
}

.hotels-card.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-item.hotels-on-page {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-control {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subscribe.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 475px;
  margin-left: 363px;
  margin-top: 29px;
}

.action-e-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  margin-top: 46px;
  width: 600px;
  display: flex;
  margin-left: 200px;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  text-align: center;
  display: flex;
  width: 200px;
  padding: 12px 15px;

}
